@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPHjd5a7duw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
    background-color: lightblue;
    color: darkblue;
    font-family: 'Catamaran', sans-serif;
  }
  
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  .navbar li {
    display: inline-block;
    padding: 15px 30px;
  }

  .navbar a {
    text-decoration: none;
  }

  .title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 48px;
    padding: 15px;
    color: goldenrod;
  }
  
  .intro {
    margin: 0px 50px;
    width: 80%;
    text-align: center;
    padding: 0px 0px 25px
 }

 .heading {
    background-color: cornflowerblue;
    text-align: center;
    line-height: 1;
    
 }

  h2 {
    font-size: 24px;
    line-height: 1;
       
  }
  
  h3 {
    font-size: 20px;
    line-height: 0.8;
       
  }
  
    
  table {
    text-align: center;
    margin: 20px auto; 
    border: 2px solid goldenrod;
    border-collapse: collapse;
  }

  th {
    border: 2px solid goldenrod;
  }
   
  td {
    border: 2px solid goldenrod;
  }

  .container {
    margin: 0 auto;
    width: 75%;
  }
  
  
  .element {
    width: 150px;
    font-family: "monospace";
    background-color: palegoldenrod;
  }

  .description {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  footer {
    margin: 100px;
  }